.container {
  position: fixed;
  background: #FBFAFC;
  height: calc(100% - 80px);
  padding: 20px;
  top: 80px;
  font-size: 16px;
  overflow: auto;
  border-right: 1px solid #F7F6F9;
  z-index: 10;

  @media (max-width: 500px){
    top: 0;
    position: relative;
    background: none;
  }
}

.header {
  display: none;

  @media (max-width: 500px){
    display: block;
  }
}
