.container {
  background: rgb(48,38,83);
  background: linear-gradient(63deg, rgba(48,38,83,1) 0%, rgba(62,38,119,1) 68%, rgba(74,33,148,1) 100%);
  margin-bottom: 1.45rem;
  position: fixed;
  width: 100%;
  z-index: 11;
  @media (max-width: 500px){
    height: 86px
  }
}

.logo {
  display: inline-block;
  height: 80px;
  vertical-align: middle;
  margin: 0 15px 0 0;

  @media (max-width: 500px){
    height: 40px
  }
}

.header {
  margin: 0;
  display: inline-block;
  vertical-align: middle;

  @media (max-width: 500px){
    font-size: 1.5rem;
  }
}
